<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.pixelford.photoapp.filter.blur</string>
	<string>com.pixelford.photoapp.filter.crop</string>
	<string>com.pixelford.photoapp.subscription.monthly</string>
	<string>com.pixelford.photoapp.consumable.credit</string>
</array>
</plist>
